<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/output.css" />
    <title><%= title%></title>
  </head>
  <body class="bg-green-950 text-white">
    <%- include('header.ejs')%>
    <section>
      <h2><%= data.title %></h2>
      <ul>
        <li><%= data.link %></li>
        <li><%= data.icon %></li>
      </ul>
    </section>
  </body>
</html>
